<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Alphapet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="icon" type="image/png" href="{% static 'Photos/Icon.png' %}" sizes="32x32">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">  
    <link rel="stylesheet" href="{% static 'css/nav-bar.css' %}">
    <script src="{% static 'scripts/home-main.js' %}" defer></script>
</head>
<body>
    <!-- start header -->
    <header>
        <nav>
            <div class="container">
                <div class="nav"> 
                    <div class="logo"><h2><a href="{% url 'home' %}">Alphapet</a></h2></div>
                    <div class="links">
                        <ul id="main-links">
                            <li><a href="{% url 'home' %}">home</a></li>
                            <li><a href="{% url 'about' %}">about</a></li>
                            <li><a href="{% url 'all-books' %}">books</a></li>
                            <li><a href="{% url 'category' %}">categories</a></li>
                        </ul>
                        <div class="log">
                            <ul>
                                <li><a href="{% url 'account' %}">profile</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
            <section>
                <div class="container">
                    <div class="content">
                    <div class="text-content">
                        <h4>Alphapet Bookstore</h4>
                        <h1>for all your <br>reading needs</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quam velit saepe dolorem deserunt quo quidem ad optio.</p>
                        <button id="btn1">Read More</button>
                    </div>
                    <div class="img"><img src="{% static 'Photos/contact-img.png'%}" alt="svg books"></div>
                </div>
            </div>
        </section>
        <span class="left"><i class='bx bx-left-arrow-alt'></i></span>
        <span class="right"><i class='bx bx-right-arrow-alt' ></i></span>
    </header>
    <!-- end header -->

    <!-- start categories -->
    <section class="categories">
        <div class="container">
            <div class="content"> 

                <!-- search-bar start -->
                <div class="search-bar">
                    <div class="dropdown">
                      <div id="drop-text" class="dropdown-text">
                        <span id="span">Everything</span>
                        <i class='bx bx-caret-down' id="icon"></i>
                      </div>
                      <ul id="list" class="dropdown-list">
                        <li class="dropdown-list-item">by Title</li>
                        <li class="dropdown-list-item">by Category</li>
                        <li class="dropdown-list-item">by Author</li>
                      </ul>
                    </div>
                    <div class="search-box">
                      <input type="text" id="search-input" placeholder="Search anything..." />
                      <i class='bx bx-search'></i>
                    </div>
                </div>
                <!-- search-bar end -->
                
                <div class="heading">
                    <h1>Book Categories</h1>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration</p>
                </div>
                <div class="cat-content">
                    <div class="category">
                        <i class='bx bx-book'></i>
                        <h2>Fantasy</h2>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur quasi, molestiae beatae necessitatibus optio possimus atque iste porro facilis adipisci,</p>
                    </div>
                    <div class="category">
                        <i class='bx bx-edit-alt'></i>
                        <h2>History</h2>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur quasi, molestiae beatae necessitatibus optio possimus atque iste porro facilis adipisci,</p>
                    </div>
                    <div class="category">
                        <i class='bx bxs-brain'></i>
                        <h2>Science</h2>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur quasi, molestiae beatae necessitatibus optio possimus atque iste porro facilis adipisci,</p>
                    </div>
                    <div class="category">
                        <i class='bx bxs-palette'></i>
                        <h2>Art</h2>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur quasi, molestiae beatae necessitatibus optio possimus atque iste porro facilis adipisci,</p>
                    </div>
                    <div class="category">
                        <i class='bx bx-money-withdraw'></i>
                        <h2>Financial</h2>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur quasi, molestiae beatae necessitatibus optio possimus atque iste porro facilis adipisci,</p>
                    </div>
                    <div class="category">
                        <i class='bx bxs-pencil'></i>
                        <h2>literature</h2>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur quasi, molestiae beatae necessitatibus optio possimus atque iste porro facilis adipisci,</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end categories -->

    <!-- start about -->
    <section class="about">
        <div class="container">
            <div class="text-content">
                <h1>About Our Bookstore</h1>
                <p>At cumque tenetur iste molestiae, vel eum reiciendis assumenda! Numquam, repudiandae. Consequuntur obcaecati recusandae aliquam, amet doloribus eius dolores officiis cumque? Quibusdam praesentium pariatur sapiente mollitia, amet hic iusto voluptas! Iusto quo earum vitae excepturi, ipsam aliquid deleniti assumenda culpa deserunt.</p>
                <button>read more</button>
            </div>
            <img src="{% static 'Photos/slider-img.png' %}" alt="about">
        </div>
    </section>
    <!-- end about -->
    
    <!-- start ourbooks -->
        <section class="our-books">
        <div class="container">
            <h1>From Our Books</h1>
            <div class="content">
                <div class="box">    
                    <div class="img"><img src="{% static 'Photos/b1.jpg' %}" alt="b1"></div>
                    <div class="text">
                        <h5>Novels</h5>
                        <p>Incidunt magni explicabo ullam ipsa quo consequuntur eveniet illo? Aspernatur nam dolorem a neque? Esse eaque dolores hic debitis cupiditate, ad beatae voluptatem numquam dignissimos ab porro</p>
                    </div>
                    <div class="read-more"><a href="#">Read More</a></div>
                </div>
                <div class="box">    
                    <div class="img"><img src="{% static 'Photos/b2.jpg' %}" alt="b1"></div>
                    <div class="text">
                        <h5>Historical</h5>
                        <p>Incidunt magni explicabo ullam ipsa quo consequuntur eveniet illo? Aspernatur nam dolorem a neque? Esse eaque dolores hic debitis cupiditate, ad beatae voluptatem numquam dignissimos ab porro</p>
                    </div>
                    <div class="read-more"><a href="#">Read More</a></div>
                </div>
            </div>
        </div>
    </section>
    <!-- end ourbooks -->
    
    <!-- start contact -->
    <section class="contact">
        <div class="container">
            <div>
                <h1>Contact Us</h1>
                <form class="contact-form" action="">
                    <input type="text" name="name" id="name" placeholder="Name">
                    <input type="email" name="email" id="email" placeholder="Email">
                    <input type="text" name="phone" id="phone" placeholder="Phone Number">
                    <input type="text" class="message" id="message" name="message" placeholder="Your Message">
                    <button>send</button>
                </form>
            </div>
            <div class="img"><img src="{% static 'Photos/about-img.png' %}" alt=""></div>
        </div>
    </section>
    <!-- end contact -->

    <!-- start about-us -->
        <section class="about-us">
            <div class="container">
                <div class="info">  
                    <h1>About Us</h1>
                    <p class="not">Vitae aut explicabo fugit facere alias distinctio, exem commodi mollitia minusem dignissimos atque asperiores incidunt vel voluptate iste</p>
                    <div class="icon-links">
                        <a href="https://www.facebook.com/NourShaaban007/" target="_blank"><i class='bx bxl-facebook' ></i></a>
                        <a href="#"><i class='bx bxl-twitter' ></i></a>
                        <a href="#"><i class='bx bxl-linkedin' ></i></a>
                        <a href="#"><i class='bx bxl-instagram' ></i></a>
                    </div>
                </div>
                <div class="address">
                    <h1>Address</h1>
                    <div>
                        <a href="#">
                            <i class='bx bxs-map'></i>
                            <p>Location</p>
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <i class='bx bxs-phone-call'></i>
                            <p>+20 1104871979</p>
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <i class='bx bxs-envelope' ></i>
                            <p>FCAI-Developers@cu.edu.eg</p>
                        </a>
                    </div>
                </div>
                <div class="newsletter">
                    <h1>Newsletter</h1>
                    <input type="email" id="email" name="email" placeholder="Enter Email">
                    <button>Subscribe</button>
                </div>
            </div>
        </section>
    <!-- end about-us -->
        
    <footer>&copy; 2024 All Rights Reserved By FCAI-Developers</footer>
    <!-- Search Bar start -->
    
      <!-- Search Bar ends -->
  
      <script src="{% static 'scripts/search.js' %}"></script>
</body>
</html>