.input {
    margin: 10px;
    border: none;
    outline: none;
    max-width: 190px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 9999px;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
    color: #000000;
    background-color: aliceblue;
  }

body {
  background-image: url('/static/Photos/beautiful-arrangement-different-books.jpg');
  background-size: cover;
  font-family:'Mulish', sans-serif;
}


.con {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: center;
    margin-left: 10rem;
}

.cont {
    background: linear-gradient( to right , #0FA2B4 , #EDA24E);
    height: auto;
    width: 30rem;
    border-radius: 50px;
    padding: 2rem;
    box-shadow: 5px 5px 80px rgba(0, 0, 0, 0.9); 
}

.custum-file-upload {
    height: 6rem;
    width: 6rem;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    border: 2px dashed #e8e8e8;
    background-color: #212121;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 48px 35px -48px #e8e8e8;
  }
  
  .pic{
    display: flex;
    align-items: center;
    justify-content: center;
  }

.con .cont .custum-file-upload .icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .custum-file-upload .icon svg {
    height: 30px;
    fill: #e8e8e8;
  }
  
  .custum-file-upload .text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .custum-file-upload .text span {
    font-weight: 10;
    color: #e8e8e8;
  }
  
  .custum-file-upload input {
    display: none;
  }


  button {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    background-color: #171717;
    padding: 1em 3em;
    border: none;
    border-radius: .6rem;
    position: relative;
    cursor: pointer;
    overflow: hidden;
  }
  
  button span:not(:nth-child(6)) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 30px;
    width: 30px;
    background-color: #0c66ed;
    border-radius: 50%;
    transition: .6s ease;
  }
  
  button span:nth-child(6) {
    position: relative;
  }
  
  button span:nth-child(1) {
    transform: translate(-3.3em, -4em);
  }
  
  button span:nth-child(2) {
    transform: translate(-6em, 1.3em);
  }
  
  button span:nth-child(3) {
    transform: translate(-.2em, 1.8em);
  }
  
  button span:nth-child(4) {
    transform: translate(3.5em, 1.4em);
  }
  
  button span:nth-child(5) {
    transform: translate(3.5em, -3.8em);
  }
  
  button:hover span:not(:nth-child(6)) {
    transform: translate(-50%, -50%) scale(4);
    transition: 1.5s ease;
  }

 
    