<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'scripts/all-books.js' %}" defer></script>
    <title> Books </title>
    <link rel="icon" type="image/png" href="{% static 'Photos/Icon.png' %}" sizes="32x32">
    <link rel="stylesheet" href="{% static 'css/nav-bar.css' %}">
    <link rel="stylesheet" href="{% static 'css/all-books.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
        rel="stylesheet">

</head>


<body>

    <header>
        <nav>
            <div class="container">
                <div class="nav"> 
                    <div class="logo"><h2><a href="{% url 'home' %}">Alphapet</a></h2></div>
                    <div class="links">
                        <ul id="main-links">
                            <li><a href="{% url 'home' %}">home</a></li>
                            <li><a href="{% url 'about' %}">about</a></li>
                            <li><a href="{% url 'all-books' %}">books</a></li>
                            <li><a href="{% url 'category' %}">categories</a></li>
                        </ul>
                        <div class="log">
                            <ul>
                                <li><a href="{% url 'account' %}">profile</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    

    <main>
        <div class="search-container">
            <div class="search-image">
                
            </div>
        </div>

        <div class="search-bar">
            <div class="dropdown">
              <div id="drop-text" class="dropdown-text">
                <span id="span">Everything</span>
                <i class='bx bx-caret-down' id="icon"></i>
              </div>
              <ul id="list" class="dropdown-list">
                <li class="dropdown-list-item">by Title</li>
                <li class="dropdown-list-item">by Category</li>
                <li class="dropdown-list-item">by Author</li>
              </ul>
            </div>
            <div class="search-box">
              <input type="text" id="search-input" placeholder="Search anything..." />
              <i class='bx bx-search'></i>
            </div>
        </div>

        <div class="book-container">
            <h1>All Books :</h1>
            <ul id="book-viewer">
                {% for book in books %}
                    <a href = "book-page.html?isbn=${book.isbn}">
                    <img class="book" src="${{book.cover}}" alt="${{book.title}}">
                    </a><p>{{book.title}}</p><label>Avaliable</label>
                {% endfor %}    
            </ul>
        </div>
    </main>

    <footer>&copy; 2024 All Rights Reserved By FCAI-Developers</footer>
    <script src="{% static 'scripts/search.js' %}"></script>
</body>

</html>