{% extends 'layout.html' %}
{% load static %}

{% block headers %}
    <script src="{% static 'scripts/book-table.js' %}" defer></script>
    <title>Books Avaliable</title>
    <link rel="stylesheet" href="{% static 'css/book-table.css' %}">
{% endblock %} 
    
{% block content %}
    <main>
        <div class="table-container">
            <table id="book-table">
                <tr>
                    <th>Book Cover</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Edit</th>
                </tr>
            </table>
        </div>
        <div class="add"><button class="Add_Book" onclick="location.href='{% url 'upload-book' %}'">Add Book</button></div>
    </main>
{% endblock %} 

  